@using OruchanKural.Models.Siniflar
@model List<Kullanici>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
<body>



    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {


        <div class="imgcontainer">
            <img src="~/Content/Site/img/bgbg.png" alt="Avatar" class="avatar" />

        </div>

        <div class="container">
            <label for="uname"><b>E-Posta</b></label>
            <input type="text" placeholder="E-Posta" name="Email" required>

            <label for="psw"><b>Şifre</b></label>
            <input type="password" placeholder="Şifre" name="Password" required>

            <button style="background-color:#2e2d28" type="submit">Giriş</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Beni Hatırla
            </label>
            <span style="padding:2px;" class="psw"><a href="/Register/Index/">Üye ol</a></span>
            <span style="padding:1px;" class="psw"><a href="#">Şifremi unuttum?</a></span>
        </div>




    }

</body>
</html>






