
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- About End -->
<!-- Service Start -->
<div class="service" id="service">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Hizmetler</p>
            <h2>Verdiğim Hizmetler</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="service-text">
                        <h3>Web Tasarım</h3>
                        <p>
                            Kişiye veya kuruma özgü Web Tasarım.Yaptığım tasarımlar tamamen bana ait olup tüm telif hakları kullanacak olan kişilere veya kurumlara aittir.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <div class="service-text">
                        <h3>Web Geliştirme</h3>
                        <p>
                            Tamamen isteğe bağlı olarak PHP , C# ve Asp.net(MVC,Core,Webform) üzerinden Admin paneli ve veri tabanı yönetimi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fas fa-pen-nib"></i>
                    </div>
                    <div class="service-text">
                        <h3>Logo Tasarım</h3>
                        <p>
                            Kişi ve kuruma özgü  vektörel ve özgün logo tasarımı.Adobe Illustrator üzerinden yaptığım logolar her platform için uygundur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="service-text">
                        <h3>Sosyal Medya Tasarımları</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phase nec preti mi. Curabi facilis ornare velit non
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fas fa-copyright"></i>
                    </div>
                    <div class="service-text">
                        <h3>Marka Tasarımı & Çalışması</h3>
                        <p>
                            Kurumsal kimlik , kartvizit ve marka imajının tasarımı ve düzenlenmesi.Ürünlerin ve hizmetleri görsel açıdan daha iyi yansıtılması ve markanın imajının revize edilmesi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <div class="service-text">
                        <h3>SEO İçerik Düzenleme</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phase nec preti mi. Curabi facilis ornare velit non
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Experience Start -->
<div class="experience" id="experience">
    <div class="container">
        <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Deneyimlerim</p>
            <h2>Çalışmalarım ve  Deneyimlerim</h2>
        </header>
        <div class="timeline">
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">2019 - 2021</div>
                    <h2>Web Developer(Back-end)</h2>
                    <h4>Freelancer</h4>
                    <p>
                        Asp.net ve PHP üzerinde  edindiğim deneyimleri kullanarak freelancer olarak web hizmeti verdim.
                    </p>
                </div>
            </div>
            <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">2021 - </div>
                    <h2>Front-end Developer</h2>
                    <h4>AkAkce</h4>
                    <p>
                        Html5 , Css3 ve Javascript üzerinde çalıştım.
                    </p>
                </div>
            </div>
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">2021 - </div>
                    <h2>Web design & developer</h2>
                    <h4>ÖZEN LEGAL</h4>
                    <p>
                        ÖZEN LEGAL hukuk bürosu için kendilerine özgü ve istekleri doğrultusunda web sitesinin ön yüzünü tasarladım ve kodladım.Back-end kısmı için bir yönetim paneli ve arka plan işlemlerini oluşturdum.
                    </p>
                </div>
            </div>
            <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">2021 - </div>
                    <h2>Wordpress Editor</h2>
                    <h4>AGRİPER GIDA SAN. ve TİC. AŞ.</h4>
                    <p>
                        Wordpres tema entegresi , tema düzenlenmesi ve e-ticaret alt yapısıyla ilgili tüm işlemlerde görev aldım.
                    </p>
                </div>
            </div>
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">2021 - </div>
                    <h2>Logo Tasarım</h2>
                    <h4>BAŞKAN EMLAK</h4>
                    <p>
                        Vektörel ve 3d logo çalışması gerçekleştirdim.
                    </p>
                </div>
            </div>
            <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">2021 - </div>
                    <h2>Web Developer</h2>
                    <h4>Altindere </h4>
                    <p>
                        Kullanmış oldukları ara yüzü geliştirdim ve back-end kısmını tasarladım.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Experience End -->
<!-- Banner Start -->
<div class="banner wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-header text-center">
            <p>TÜM HİZMETLERDE</p>
            <h2>Özel <span>İndirim</span> Al</h2>
        </div>
        <div class="container banner-text">
            <p>
                Şuan freelance olarak çalışmaktayım ve kendimi geliştirme sürecindeyim.Bu dönemde tüm deneyimlerimi ve donanımımı sizlere sunmak istiyorum.Müşteri memnuniyeti ana temam.Uygun fiyatlara ve güvenilir hizmetlere ulaşabilirsiniz.
            </p>
            <a class="btn">Fiyat Planlaması</a>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Portfolio Start -->
<div class="portfolio" id="portfolio">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Portfolyom</p>
            <h2>Portfolyo Sunumum</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <ul id="portfolio-filter">
                    <li data-filter="*" class="filter-active">Hepsi</li>
                    <li data-filter=".filter-1">Web Design</li>
                    <li data-filter=".filter-2">Web Development</li>
                    <li data-filter=".filter-3">Logo Tasarım</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="~/Content/Site/img/portfolio-1.jpg" alt="Image">
                    </div>
                    <div class="portfolio-text">
                        <h3>E-Ticaret Websitesi</h3>
                        <a class="btn" href="img/portfolio-1.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="~/Content/Site/img/portfolio-2.jpg" alt="Image">
                    </div>
                    <div class="portfolio-text">
                        <h3>Kişisel Websitesi</h3>
                        <a class="btn" href="img/portfolio-2.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="~/Content/Site/img/portfolio-3.jpg" alt="Image">
                    </div>
                    <div class="portfolio-text">
                        <h3>Responsive Web Tasarım  </h3>
                        <a class="btn" href="img/portfolio-3.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.6s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="~/Content/Site/img/portfolio-4.jpg" alt="Image">
                    </div>
                    <div class="portfolio-text">
                        <h3>SEO</h3>
                        <a class="btn" href="img/portfolio-4.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="0.8s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="~/Content/Site/img/portfolio-5.jpg" alt="Image">
                    </div>
                    <div class="portfolio-text">
                        <h3> Mobil Arayüz Tasarımı</h3>
                        <a class="btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="1s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="~/Content/Site/img/portfolio-6.jpg" alt="Image">
                    </div>
                    <div class="portfolio-text">
                        <h3>Veri Tabanı & Sorgular(Linq,Lambda)</h3>
                        <a class="btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->
<!-- Banner Start -->
<div class="banner wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-header text-center">
            <p>İndirim</p>
            <h2>Şimdi <span>30%</span> İndirim Kullan</h2>
        </div>
        <div class="container banner-text">
            <p>
                Online alışverişleriniz de %30 indirim kazan.Geçerli kampanyalar Web Tasarım için geçerlidir.
            </p>
            <a class="btn">Sipariş Ver!</a>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Price Start -->
<div class="price" id="price">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Ücretlendirme </p>
            <h2>Ücret Seçenekleri</h2>
        </div>
        <div class="row">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="price-item">
                    <div class="price-header">
                        <div class="price-title">
                            <h2>Web Tasarım</h2>
                        </div>
                        <div class="price-prices">
                            <h2><small>₺</small>299-777<span>/ proje</span></h2>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>Bootstrap 4</li>
                                <li>Font Awesome 5</li>
                                <li>Responsive Design</li>
                                <li>Browser Compatibility</li>
                                <li>Html5 & Css3</li>
                                <li>Revize</li>
                                <li>Kullanıma Hazır</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-footer">
                        <div class="price-action">
                            <a class="btn" href="">Sipariş Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                <div class="price-item featured-item">
                    <div class="price-header">
                        <div class="price-title">
                            <h2>Kurumsal Web Sitesi</h2>
                        </div>
                        <div class="price-prices">
                            <h2><small>₺</small>999-1.999<span>/ proje</span></h2>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>Asp.net(Opsiyonel)</li>
                                <li>PHP(Opsiyonel)</li>
                                <li>Admin Yönetim Paneli</li>
                                <li>SQL Veritabanı</li>
                                <li>Google Search Console</li>
                                <li>SEO Revize</li>
                                <li>Kullanıma Hazır</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-footer">
                        <div class="price-action">
                            <a class="btn" href="">Sipariş Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="price-item">
                    <div class="price-header">
                        <div class="price-title">
                            <h2>Logo</h2>
                        </div>
                        <div class="price-prices">
                            <h2><small>₺</small>200-999<span>/ logo</span></h2>
                        </div>
                    </div>
                    <div class="price-body">
                        <div class="price-description">
                            <ul>
                                <li>3 Revize</li>
                                <li>3 Mockup</li>
                                <li>Kaynak Dosyaları</li>
                                <li>3D Mockup</li>
                                <li>Yüksek Çözünürlük(300DPI)</li>
                                <li>Vektör Dosyası</li>
                                <li>Sosyal Medya Kiti</li>
                            </ul>
                        </div>
                    </div>
                    <div class="price-footer">
                        <div class="price-action">
                            <a class="btn" href="">Sipariş Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Price End -->
<!-- Testimonial Start -->
<!-- Testimonial End -->
<!-- Team Start -->
<!-- Team End -->
<!-- Contact Start -->

<!-- Contact End -->
<!-- Blog Start -->
