
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog" id="blog">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p> Blog</p>
            <h2>Güncel Başlıklar</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                        <img src="~/Content/Site/img/blog-1.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Ücretsiz Yazılım Kursları</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-user"></i>OHK</p>
                            <p><i class="far fa-list-alt"></i>Web </p>
                            <p><i class="far fa-calendar-alt"></i>09-Mart-2021</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Ücretsiz yazılım kurslarına veya eğitim setlerine ulaşabilirsiniz.Kendinizi geliştirmek istediğiniz alanlarda konusunda uzman eğitimcilerle tanışabilir ve eğitimlerinize hiç ara vermeden devam edebilirsiniz.
                        </p>
                        <a class="btn" href="">Dahası <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                        <img src="~/Content/Site/img/blog-1.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Ücretsiz Yazılım Kursları</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-user"></i>OHK</p>
                            <p><i class="far fa-list-alt"></i>Web </p>
                            <p><i class="far fa-calendar-alt"></i>09-Mart-2021</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Ücretsiz yazılım kurslarına veya eğitim setlerine ulaşabilirsiniz.Kendinizi geliştirmek istediğiniz alanlarda konusunda uzman eğitimcilerle tanışabilir ve eğitimlerinize hiç ara vermeden devam edebilirsiniz.
                        </p>
                        <a class="btn" href="">Dahası <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                        <img src="~/Content/Site/img/blog-1.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Ücretsiz Yazılım Kursları</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-user"></i>OHK</p>
                            <p><i class="far fa-list-alt"></i>Web </p>
                            <p><i class="far fa-calendar-alt"></i>09-Mart-2021</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Ücretsiz yazılım kurslarına veya eğitim setlerine ulaşabilirsiniz.Kendinizi geliştirmek istediğiniz alanlarda konusunda uzman eğitimcilerle tanışabilir ve eğitimlerinize hiç ara vermeden devam edebilirsiniz.
                        </p>
                        <a class="btn" href="">Dahası <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-item wow fadeInUp" data-wow-delay="0.1s">
                    <div class="blog-img">
                        <img src="~/Content/Site/img/blog-1.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Ücretsiz Yazılım Kursları</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-user"></i>OHK</p>
                            <p><i class="far fa-list-alt"></i>Web </p>
                            <p><i class="far fa-calendar-alt"></i>09-Mart-2021</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Ücretsiz yazılım kurslarına veya eğitim setlerine ulaşabilirsiniz.Kendinizi geliştirmek istediğiniz alanlarda konusunda uzman eğitimcilerle tanışabilir ve eğitimlerinize hiç ara vermeden devam edebilirsiniz.
                        </p>
                        <a class="btn" href="">Dahası <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

